{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<div class="container" style="max-width: 640px">
<h1>Forgot your password?</h1>
<p>Enter your email address below, and we'll email instructions
for setting a new one.</p>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-success" type="submit"
value="Send me instructions!">
</form>
</div>
<script>


	const passwordEl = document.querySelector("#id_old_password");
	const togglePassword = document.createElement('i');
	const addOnSpan = document.createElement('span');
	const addOnDiv = document.createElement('div');
	addOnDiv.className="input-group-append";
	togglePassword.id = 'togglePassword';
	togglePassword.className= 'bi bi-eye-slash';
	addOnSpan.className = "input-group-addon";
    console.log("password_el");
    passwordEl.parentNode.classList.add("input-group","mb-3");
    addOnSpan.append(togglePassword);
    addOnDiv.append(addOnSpan);
    passwordEl.parentNode.append(addOnDiv);
    console.log(passwordEl.parentNode);
     togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = passwordEl.getAttribute("type") === "password" ? "text" : "password";
            passwordEl.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });


</script>
{% endblock content %}