{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Dashboard{% endblock %}

 {% block content %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ company.company_name}}</h1></div>
    	<!--<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>-->
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">

        <img src={{ company_logo }} >
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>


          <div class="panel panel-default">
            <!--<div class="panel-heading">Admin <i class="fa fa-link fa-1x"></i></div>-->
            <!--<div class="panel-body"><a href="#">{{ company.admin }} </a></div>-->
          </div>


          <ul class="list-group">
            <!--<li class="list-group-item text-muted">Profile <i class="fa fa-dashboard fa-1x"></i></li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>-->
          </ul>

          <!--<div class="panel panel-default">-->
          <!--  <div class="panel-heading">Social Media</div>-->
          <!--  <div class="panel-body">-->
          <!--  	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>-->
          <!--  </div>-->
          <!--</div>-->

        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <!--<li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
                <!--<li><a data-toggle="tab" href="#messages">Menu 1</a></li>-->
                <!--<li><a data-toggle="tab" href="#settings">Menu 2</a></li>-->
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <h2>{{ company.company_name}}</h2>
                    <p><strong>Admin: </strong> {{ company.admin }} </p>
                    <p><strong>Company Profile </strong> </p>
                    <p><strong>Services: </strong>
                        <span class="tags">Data Research</span>
                        <span class="tags">Data Presentation</span>
                        <span class="tags">Data Analysis</span>
                        <span class="tags">SAS</span>
                    </p>


              <hr>

             </div>


              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

{% endblock content %}

    {% block additionalscript %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/b4aae4cb0e.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript">

    	$(".sidebar").stick_in_parent();
        $(document).ready(function() {
    let table1 = $('#example1').DataTable( {
        fixedHeader: true
    } );
    let table2 = $('#example2').DataTable( {
        fixedHeader: true
    } );
    let table3 = $('#example3').DataTable( {
        fixedHeader: true
    } );

        var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
              $('.company-logo').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    $(".file-upload").on('change', function(){
        readURL(this);
    });

} );
    </script>

{% endblock %}