{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}
Dashboard{% endblock %}

 {% block content %}
 <style>


.panel {
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
  /*max-height: 0.5;*/
}
.panel-color-one{
    background-color: #0645ad;
  border-color: #0645ad;
  color: #fff;
}
.panel-color-two{
    background-color: #AD6E06;
  border-color: #0645ad;
  color: #fff;
}
.panel-color-three{
    background-color: #0645ad;

    /*background-color: #ffff00;*/
  border-color: #0645ad;
  color: #fff;
}
.panel-color-four{
    background-color: #AD6E06;

    /*background-color: #0000ff;*/
  border-color: #0645ad;
  color: #fff;
}
.panel-dark.panel-colorful {
  background-color: #0645ad;
  border-color: #3b4146;
  color: #fff;
}

.panel-danger.panel-colorful {
  background-color: #faa700;
  border-color: #ddd95f;
  color: #fff;
}

.panel-primary.panel-colorful {
  background-color: #a2dd5f;
  border-color: #a2dd5f;
  color: #fff;
}
.panel-primary-add.panel-colorful {
    /*#5fa2dd*/
  background-color: #AD6E06;
  border-color: #fff;
  color: #000;
}

.panel-info.panel-colorful {
  background-color: #ffff00;
  border-color: #dd9a5f;
  color: #fff;
}
.colorp1.panel-colorful {
  background-color: #0000ff;
  border-color: #51dcf7;
  color: #fff;
}
.colorp2.panel-colorful {
  background-color: #f76c51;
  border-color: #f76c51;
  color: #fff;
}
.colorp3.panel-colorful {
  background-color: #6c51f7;
  border-color: #6c51f7;
  color: #fff;
}
.colorp4.panel-colorful {
  background-color: #51f76c;
  border-color: #51f76c;
  color: #fff;
}

.panel-body {
  padding: 25px 20px;

}

.panel hr {
  border-color: rgba(0,0,0,0.1);
}

.mar-btm {
  margin-bottom: 15px;
}

h2, .h2 {
  font-size: 28px;
}

.small, small {
  font-size: 85%;
}

.text-sm {
  font-size: .9em;
}

.text-thin {
  font-weight: 300;
  font-size: 1vw;
}

.text-semibold {
  font-weight: 600;
}
#allDash:hover{
    text-decoration: none;

}
.panel:hover{
    transform: scale(1.1, 1.1);
    transition: transform 1s;
}



/*.bootdey{*/
/*    max-width:720px;*/
/*}*/
</style>

   <div class="container bootstrap snippets bootdey">
        <div class="tab-content " id="myTimes">
            <div class="tab-pane fade show active" id="oneWeekPage" role="tabpanel"  aria-labelledby="oneWeekBtn"  >
                <div class="row">

                    {% for org in company.organizations.all %}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a  id = "allDash" href="{% url 'admin_v2:admin-org-management' company.id org.id %}" >
                                <div class="panel  panel-color-two panel-colorful">
                                    <div class="panel-body text-center">
                                        <p class="text-uppercase mar-btm text-sm" style="overflow:hidden;">{{ org.name|truncatechars:7 }}</p>
                                        <i class="fa fa-building-o fa-5x"></i>
                                        <hr>
                                            <p class="h2 text-thin">{{ org.name|truncatechars:7 }}</p>
                                        <!--<small><span class="text-semibold"></span> </small>-->
                                        <small><span class="text-semibold"><i class="fa fa-user fa-fw"></i>{{org.staff_members.all| length}} </span> Staff Members</small>
                                        <small><span class="text-semibold"><i class="fa fa-user-o fa-fw" style="border-left: 1px solid"></i>{{org.members.all| length}} </span>Members</small>

                                    </div>
                                </div>
                            </a>
                        </div>

                        {% else %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a  id = "allDash" href="{% url 'admin_v2:admin-org-management' company.id org.id %}" >
                                <div class="panel  panel-color-one panel-colorful">
                                    <div class="panel-body text-center">
                                        <p class="text-uppercase mar-btm text-sm" style="overflow:hidden;">{{ org.name|truncatechars:7 }}</p>
                                        <i class="fa fa-building fa-5x"></i>
                                        <hr>
                                            <p class="h2 text-thin" >{{ org.name|truncatechars:7 }}</p>
                                        <!--<small><span class="text-semibold"></span> </small>-->
                                        <small><span class="text-semibold"><i class="fa fa-user fa-fw"></i>{{org.staff_members.all| length}} </span> Staff Members</small>
                                        <small><span class="text-semibold"><i class="fa fa-user-o fa-fw" style="border-left: 1px solid"></i>{{org.members.all| length}} </span>Members</small>

                                    </div>
                                </div>
                            </a>
                        </div>


                        {%endif%}
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
{% endblock content %}

    {% block additionalscript %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/b4aae4cb0e.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript">

    	$(".sidebar").stick_in_parent();
        $(document).ready(function() {
    let table1 = $('#example1').DataTable( {
        fixedHeader: true
    } );
    let table2 = $('#example2').DataTable( {
        fixedHeader: true
    } );
    let table3 = $('#example3').DataTable( {
        fixedHeader: true
    } );
} );
    </script>

{% endblock %}