{% extends 'base.html' %}

{% block title %}
Create Document
{% endblock %}

{% block content %}

{% load static %}

{{ document.id|json_script:"documentID" }}
{{ document.verify|json_script:"verify" }}
{{ document.file|json_script:"file-data" }}
{{ document.name|json_script:"documentName" }}
{{ document.template|json_script:"template" }}
{{ document.created_by|json_script:"created_by" }}
{{ request.user.username|json_script:"curr_user" }}

{% if document.auth_user_list %}
    {{ document.auth_user_list|json_script:"auth_user_list" }}
{% endif %}



<div style="display:none">
    <p id="current-user">{{ request.user }}</p>
    <ul id="user-list">
    {% for user in document.auth_user_list %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
</div>

{% if document.template %}{% endif %}



<div id="editor-container">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://unpkg.com/pdf-lib"></script>


    <!--End of Text FOrmatting Form-->
     <!--Modal classes-->
    {% include 'editor/modal_classes.html' %}
    {% include 'editor/text_format.html' %}




    <div class = "row">
        <div class="doc-container col-md-9">
            <!--Beginning of Text Formatting Form-->
            <div class="page">
                <div id="pdf-file" style = "width:100%;" class="doc-content">

                </div>
            </div>
        </div>

        <div class="menu-container col-md-3">
            {% if document.template %}
                <h6>Fields</h6>
                <div class = "row">
                    <div class = "col-md-12">
                        <div class="button-container">
                            <div id="edP-btn" class="drag-btn" draggable="true"><p class="btn-text">Editable P</p><i class="far fa-align-justify"></i></div>
                            <div id="txt-btn" class="drag-btn" draggable="true"><p class="btn-text">Text</p><i class="fas fa-align-left"></i></div>
                            <div id="img-btn" class="drag-btn" draggable="true"><p class="btn-text">Image</p><i class="far fa-image"></i></div>
                            <div id="table-btn" class="drag-btn" draggable="true"><p class="btn-text">Table</p><i class="fas fa-table"></i></div>
                            <div id="signature-btn" class="drag-btn" draggable="true"><p class="btn-text">Signature</p><i class="fas fa-signature"></i></div>
                            <div id="date-btn" class="drag-btn" draggable="true"><p class="btn-text">Date</p><i class="fas fa-calendar-day"></i></div>

                        </div>
                        <div class = "button-container2">
                            <div id="dropdown-btn" class="drag-btn mb-3"  draggable="true"><p class="btn-text">Dropdown</p><i class="far fa-list-alt"></i></div>
                        </div>
                        <!--<div class="button-container">-->
                            <!--<div class= "row">-->
                        <!--    <div id="signature-btn" class="drag-btn" draggable="true"><p class="btn-text">Signature</p><i class="fas fa-signature"></i></div>-->
                        <!--    <div id="date-btn" class="drag-btn" draggable="true"><p class="btn-text">Date</p><i class="fas fa-calendar-day"></i></div>-->
                        <!--    <div id="dropdown-btn" class="drag-btn" style ="display:none;" draggable="true"><p class="btn-text">Dropdown</p><i class="far fa-list-alt"></i></div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                {% endif %}
                    <div class = "col-md-12">{% csrf_token %}
                        {% if document.verify %}
                            <h3>Sign, Save and submit</h3>
                            <form method="post">{% csrf_token %}
                                <input type="hidden" name="id_" value="{{  document.id }}" />
                                <input type="hidden" name="documentData" id="documentData"/>
                                <button onclick="signSubmit()" class="btn btn-outline-info">Save Signature</button>
                                <input style="display: none" type="submit" class="btn btn-outline-success mt-3" id="Signed"/>
                            </form>
                        {% elif document.template %}
                            <button id='save-template-btn' class="btn btn-outline-success mt-3">Save Template</button>
                        {% else %}
                            <a style="display:none" class="btn btn-outline-primary mt-3" id="show-btn">Show PDF</a>
                            <iframe id="pdf" style="display: none; width: 100%; height: 100vh;"></iframe>
                            <button id="addToWorkFlowButton" class="btn btn-outline-primary mt-3"/ type="submit">Process Document</button>
                            <button id='save-btn' class="btn btn-outline-success mt-3">Save Document</button>
                        {% endif %}
                    </div>
                </div>

        </div>
    </div>
<style>

/*Table CSS*/
table, th, td{
    border: 1px solid #ddd;
    empty-cells: show;
  /*padding: 8px;*/

}
table, th, td{
    border: 1px solid #ddd;
    empty-cells: show;
  /*padding: 8px;*/

}
thead, tbody{
    width: inherit;

}

/* Border styles*/
.boxed-md.boxed-padded {
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
.boxed-md {
    border: 1px solid #ccc;
    margin-bottom: 14px;
    margin-top: 14px;
}

.boxed-md>.text-center .h3 {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.h3 {
    margin-top: 15px;
    margin-bottom:18px;
       font-size: 20px;
}
.boxed-md>.text-center {
    margin-top: -12px;
    margin-bottom: 12px;
}

#modalTxtForm{
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
    display:none;
}
#textBox{
    cursor: text;
}
#toolbox-tools{
    position: absolute;

  left: 0px;
  top: 0px;
  z-index: 10;
    /* display:none; */
}
.compFormArticle {
    /*background-color: #e1e0e9;*/
     background-color:#5a6268;
}
/*End of border styles*/
/* MOdal Css */
    /* The Modal (background) */

.modal, .modal2  {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content, .model-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus, .close2:hover,
.close2:focus  {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Modal Css */
/*dropdown Styles*/


/* <select> styles */
    select.selectDropDown {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
        no-repeat right 0.8em center / 1.4em,
        linear-gradient(30deg, #2c3e50 30%, #2c3e50);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;}
    /* <option> colors */
    select.selectDropDown option {
      color: #fff;
      background-color: #2c3e50;
    }
    /* Remove focus outline */
    /*body:focus {*/
    /*  outline: none;*/
    /*}*/
    /* Remove IE arrow */
    select.selectDropDown::-ms-expand {
      display: none;
    }

/*end ofdropdown Styles*/





        .doc-container{
            display: block;
            width: 75vw;
            height: 89vh;
            background-color: #e1e0e9;
            overflow-y: scroll;
        }

        .page{
            display:  block;
            position:  relative;
            width: 720px;
            height: 800px;
            margin: 30px auto;
            padding: 5%;
            background-color: #fff;
            box-shadow: 0px 0px 5px #333;
        }

        .doc-content{
            height: 100%;
        }

        .menu-container{
            display: block;
            /*flex-direction: column;*/
            /*align-items: center;*/

            margin: 10px auto;
        }

        ::-webkit-resizer {
          display: none;
        }

        .button-container{
            display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 10px;
            height: 200px;
            width: 280px;
            padding: 10px;
            align-items: center;

        }
        .button-container2{
            display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 10px;
            height: 67px;
            width: 280px;
            padding: 10px;
            align-items: center;

        }

        .drag-btn{
            border: none;
            height: 100%;
            background-color: #c7d5e1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .btn-text{
            margin: 1rem 0;

        }

        .holderDIV:hover {
            border: 1px dashed rgb(255 191 0);
        }


        /* width */
        ::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }




/*Styles for the new FOrmat*/
#toolbox-tools {
	width: 660px;
	height: 160px;
	overflow: hidden;
}

.group-handle {
	height: 34px;
	width: 10px;
	cursor: move;
}

.panel-heading {
    cursor: move;
}

.draggable-group {
	float: left;
}

#sortable {
	padding: 0px;
}

#sort-holder {
	display: none;
}

#toggle-toolbox-tools {
    cursor: pointer;
}

#close-toolbox-tools {
	cursor: pointer;
}

.toggle-button-group {
    cursor: pointer;
}

.draggable-group {
    overflow: hidden;
}

.minimized {
    width: 12px;
    height: 36px;
}
/*******************************/




    </style>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">-->
<!--</script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>-->
<!--<script src="main_tab.js"></script>-->
</div>




{% endblock %}
{% block additionalscript %}
<script type="module" src="{% static 'js/editor/text_format.js' %}"></script>
<script src="{% static 'js/editor/editor_main.js' %}"></script>
{% endblock %}
