{% extends 'base.html' %}

{% block title %}
Create Document
{% endblock %}
{% load static %}

{% block content %}
<link href="{% static 'css/custom.css'  %}" rel='stylesheet' type='text/css' >
<link href="{% static 'css/chat.css'  %}" rel='stylesheet' type='text/css' >


{{ document.id|json_script:"documentID" }}
{{ document.verify|json_script:"verify" }}
{{ document.file|json_script:"file-data" }}
{{ document.name|json_script:"documentName" }}
{{ document.template|json_script:"template" }}
{{ document.created_by|json_script:"created_by" }}
{{ request.user.username|json_script:"curr_user" }}

{% if document.auth_user_list %}
    {{ document.auth_user_list|json_script:"auth_user_list" }}
{% endif %}



<div style="display:none">
    <p id="current-user">{{ request.user }}</p>
    <ul id="user-list">
    {% for user in document.auth_user_list %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
</div>

{% if document.template %}{% endif %}



<div id="editor-container">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://unpkg.com/pdf-lib"></script>


    <!--End of Text FOrmatting Form-->
     <!--Modal classes-->
    {% include 'editor/modal_classes.html' %}
    {% include 'editor/text_format.html' %}



<div id="showAlert">

        </div>
    <div class = "row">

        <div class="doc-container col-md-9">
            <!--Beginning of Text Formatting Form-->
            <div class="page">
                <div id="pdf-file" style = "width:100%;" class="doc-content">

                </div>
            </div>
        </div>
        {% if not document.doc_viewer %}
            <div class="menu-container col-md-3">
            {% if document.template %}
                <h6>Fields</h6>
                <div class = "row">
                    <div class = "col-md-12">
                        <div class="button-container">
                            <div id="edP-btn" class="drag-btn" draggable="true"><p class="btn-text">Editable P</p><i class="far fa-align-justify"></i></div>
                            <div id="txt-btn" class="drag-btn" draggable="true"><p class="btn-text">Text</p><i class="fas fa-align-left"></i></div>
                            <div id="img-btn" class="drag-btn" draggable="true"><p class="btn-text">Image</p><i class="far fa-image"></i></div>
                            <div id="table-btn" class="drag-btn" draggable="true"><p class="btn-text">Table</p><i class="fas fa-table"></i></div>
                            <div id="signature-btn" class="drag-btn" draggable="true"><p class="btn-text">Signature</p><i class="fas fa-signature"></i></div>
                            <div id="date-btn" class="drag-btn" draggable="true"><p class="btn-text">Date</p><i class="fas fa-calendar-day"></i></div>

                        </div>
                        <div class = "button-container2">
                            <div id="dropdown-btn" class="drag-btn mb-3"  draggable="true"><p class="btn-text">Dropdown</p><i class="far fa-list-alt"></i></div>
                        </div>
                        <!--<div class="button-container">-->
                            <!--<div class= "row">-->
                        <!--    <div id="signature-btn" class="drag-btn" draggable="true"><p class="btn-text">Signature</p><i class="fas fa-signature"></i></div>-->
                        <!--    <div id="date-btn" class="drag-btn" draggable="true"><p class="btn-text">Date</p><i class="fas fa-calendar-day"></i></div>-->
                        <!--    <div id="dropdown-btn" class="drag-btn" style ="display:none;" draggable="true"><p class="btn-text">Dropdown</p><i class="far fa-list-alt"></i></div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                {% endif %}
                    <div class = "col-md-12">{% csrf_token %}
                        {% if document.verify %}
                            <h3>Sign, Save and submit</h3>
                            <section class="chat-area">
                                <header>
                                    <h6 style="padding-top: 20px; padding-bottom: 10px;">Document Comments</h6>
                                </header>
                                <div class="chat-box" id="display" style="height: 40vh;
                                overflow-y: auto; background: #f7f7f7; padding: 5px 5px 5px 5px;"></div>
                                <div id="form-div">
                                    <form id="post-form" class=""> <!--typing-area-->
                                        {% csrf_token %}
                                        <input type="hidden" name="auth_users" id="auth_users" value="{{ document.auth_user_list }}"/>
                                        <input type="hidden" name="username" id="username" value="{{ request.user.username }}"/>
                                        <input type="hidden" name="room" id="room" value="{{ document.name }}"/>
                                        <textarea class="col-md-12" placeholder="Comment on Document" class="form-control" aria-label="With textarea" type="text" name="message" id="message"></textarea>
                                        <input class="btn btn-outline-info" type="submit" value="Send Message">
                                    </form>
                                </div>
                            </section>

                            <form class="mt-3" method="post">{% csrf_token %}
                                <input type="hidden" name="id_" value="{{  document.id }}" />
                                <input type="hidden" name="documentData" id="documentData"/>
                                <button onclick="signSubmit()" class="btn btn-outline-info">Save Signature</button>
                                <input style="display: none" type="submit" class="btn btn-outline-success mt-3" id="Signed"/>
                            </form>
                        {% elif document.template %}
                            <button id='save-template-btn' class="btn btn-outline-success mt-3">Save Template</button>
                        {% else %}

                            <button id="addToWorkFlowButton" class="btn btn-outline-primary mt-3"/ type="submit">Process Document</button>

                            <section class="chat-area">
                                <header>
                                    <h6 style="padding-top: 20px; padding-bottom: 10px;">Document Comments</h6>
                                </header>
                                <div class="chat-box" id="display" style="height: 40vh;
                                overflow-y: auto; background: #f7f7f7; padding: 5px 5px 5px 5px;"></div>
                                <div id="form-div">
                                    <form id="post-form" class=""> <!--typing-area-->
                                        {% csrf_token %}
                                        <input type="hidden" name="username" id="username" value="{{ request.user.username }}"/>
                                        <input type="hidden" name="room" id="room" value="{{ document.name }}"/>
                                        <textarea class="col-md-12" placeholder="Comment on Document" class="form-control" aria-label="With textarea" type="text" name="message" id="message"></textarea>
                                        <input class="btn btn-outline-info" type="submit" value="Send Message">
                                    </form>
                                </div>
                            </section>
                            <button id='save-btn' class="btn btn-outline-success mt-3">Save Document</button>
                        {% endif %}
                    </div>
                </div>

        </div>
        {% endif %}
    </div>
<style>



    </style>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">-->
<!--</script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>-->
<!--<script src="main_tab.js"></script>-->
</div>




{% endblock %}
{% block additionalscript %}
<script type="module" src="{% static 'js/editor/text_format.js' %}"></script>
<script src="{% static 'js/editor/editor_main.js' %}"></script>
<script>
    $(document).ready(function(){

    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/chat/getMessages/{{ document.name }}/",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p></div>";
                    $("#display").append(temp);
                }
            },
            error: function(response){
                // alert('An error occurred')
            }
        });
    },1000);
    })
</script>

<script type="text/javascript">
       //when you click submit which is in a form with the id post-form implement the function
       $(document).on('submit','#post-form',function(e){
       e.preventDefault();  //prevent automatic reloading

       $.ajax({
         type:'POST', //method
         url:'/chat/send',
         data:{
             auth_users:$('#auth_users').val(),
             username:$('#username').val(),
             room:$('#room').val(),
             message:$('#message').val(),
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         },
         success: function(data){
            // alert(data)
         }
       });
       document.getElementById('message').value = ''
     });
</script>
{% endblock %}