{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Add Document{% endblock %}




{% block content %}


<div class="home-content-container">
    <div class="container"  style="max-width: 80%; overflow: auto; background-color: #fff; margin-top:20px;">
	{% if message %}
	    <h3> {{ message }} </h3>
	{% endif%}

    <div class="text-center">data</div>
    <ul>
    {% for item in data %}
        <li>---{{ item }}</li>
    {% endfor %}
    </ul>
	</div>
</div>
{% endblock %}
